@{
    ViewData["Title"] = "Персонажі Jujutsu Kaisen";
}

<div class="container my-5">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-4">Додаткова інформація про Jujutsu Kaisen</h1>
            <p class="lead">У цьому розділі представлена додаткова інформація.</p>
            <img src="/images/JujutsuKaisen.jpg" alt="Jujutsu Kaisen" class="img-fluid rounded mb-4" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Сюжет</h2>
            <p>Ітадорі Юджі — старшокласник атлетичної статури, який живе в Сендаї разом з дідусем. Через нелюбов до спорту він постійно уникає шкільної команди з легкої атлетики, хоч і має надлюдську фізичну силу та талант до цього виду спорту. Замість цього він приєднується до шкільного клубу вивчення окультизму.</p>
            <p>Одного дня Юджі стикається з Фушіґуро Меґумі — чаклуном, що повідомляє йому про талісман з високорівневим прокляттям. Друзі Юджі з окультного клубу розкривають загорнутий талісман, у якому знаходився гнилий палець, що призводить до появи прокляття.</p>
            <p>Юджі, щоб захистити своїх друзів, проковтує палець, стаючи вмістилищем для Сукуна, потужного прокляття. Його учитель, Ґоджо Сатору, вирішує перевести Юджі в Токійський магічний технікум, щоб зібрати всі пальці Сукуни та знищити його.</p>
            <hr />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Персонажі</h2>

            <h3>Ітадорі Юджі</h3>
            <p>Підліток та член шкільного клубу вивчення окультизму. Він поглинає гниючий палець, щоб захистити друзів, але через це стає вмістилищем для прокляття «Рьомен Сукуна». Пізніше переводиться в Токійський магічний технікум, де повинен знайти і поглинути решту пальців Сукуни.</p>

            <h3>Фушіґуро Меґумі</h3>
            <p>Маг першого курсу в Токійському магічному технікумі. Він умовляє Сатору спробувати врятувати Юджі після того, як той з'їдає палець Сукуна. Використовує свою силу для заклику шікігамі зі своєї тіні.</p>

            <h3>Куґісакі Нобара</h3>
            <p>Маг першого курсу Токійського магічного технікуму. Вона перевелася в технікум, щоб безкоштовно переїхати до Токіо. У битвах використовує зачарований молоток та цвяхи.</p>

            <h3>Сатору Годжо</h3>
            <p>Маг, який працює вчителем у Токійському магічному технікумі. Він вважається одним із найнебезпечніших магів через свою здатність контролювати простір.</p>

            <h3>Рьомен Сукуна</h3>
            <p>Високорівневе прокляття, яке вважається «королем проклять» через свою злість і силу. Він живе в тілі Ітадорі Юджі та планує повернути собі силу та тіло.</p>

            <h3>Нанамі Кенто</h3>
            <p>Чарівник першого класу, який працює на керівництво Токійського магічного технікуму. Дуже розумний і стриманий чоловік, серйозно відноситься до роботи.</p>

            <hr />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Манга</h2>
            <p>Jujutsu Kaisen створена Ґеґе Акутамі. З 28 квітня по 28 липня 2017 року в журналі Jump GIGA видавництва Shueisha вийшла історія, що складається з чотирьох розділів, Tokyo Metropolitan Curse Technical School. Четвертого грудня 2018 року вона була видана окремим томом та перейменована на Jujutsu Kaisen.</p>
            <p>Сама манга Jujutsu Kaisen почала публікуватися в 14-му номері за 2018 рік журналу Weekly Shōnen Jump. Її глави були зібрані разом і випущені у вигляді танкобонів видавництвом Shueisha. Перший том було опубліковано 4 липня 2018. На червень 2021 року було випущено 16 томів. З 21 червня 2021 року вихід нових глав манги було припинено через погіршення здоров'я автора.</p>
            <hr />
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Повернутися на головну</a>
        </div>
    </div>
</div>
